@import "../../libraries/semantic-ui/dist/semantic.css";
@import "../../libraries/perfect-scrollbar/css/perfect-scrollbar";

#chat {
  background: rgba(255, 255, 255, 0.95);
}

.card {
  margin:10px !important;
  min-width: 250px;
}

.itemsChart{
  max-width: 800px;
  width: 100%;
}

.itemsRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
  width: 100%;
  overflow-x: auto;
}

.example-appear {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}
