@import "../../libraries/semantic-ui/dist/semantic.css";
@import "../../libraries/perfect-scrollbar/css/perfect-scrollbar";

#chat {
  background: rgba(255, 255, 255, 0.95);
}
// example animation for React testing
.example-appear {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}
